---
import { siteMetaDefault } from "../lib/siteMeta";

interface Props {
  title: string;
  description: string;
  path: string;
  url?: string;
  keywords?: string[];
  imageUrl?: string;
}

const {
  title = siteMetaDefault.title,
  description = siteMetaDefault.description,
  path,
  url,
  imageUrl,
  keywords = siteMetaDefault.keywords,
} = Astro.props;

const currentPageUrl = `https://jovanlanutan.me${path}`;
const ogImageUrl =
  imageUrl || "https://jovanlanutan.me/_astro/avatar480x600.kgQKL5A3.webp";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content={keywords.join(", ")} />

    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImageUrl} />
    <meta property="og:image:alt" content="jovanlanutan.me" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />

    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="jovanlanutan.me" />
    <meta name="application-name" content="jovanlanutan.me" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={currentPageUrl} />
    <title>{title}</title>
  </head>
  <body
    class="min-h-screen antialiased bg-slate-900 flex flex-col justify-between"
  >
    <slot />
  </body>
</html>
