---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
const { pathname } = Astro.url;
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  path={pathname}
>
  <Navigation />
  <main class="flex items-center justify-center py-10 px-5 md:py-20">
    <div>
      <div class="text-center mb-10">
        <h1 class="text-5xl text-white font-bold mb-10 md:text-6xl">
          {frontmatter.title}
        </h1>
        <span class="text-gray-400 text-md italic"
          >Poorly written by {frontmatter.author} on {frontmatter.pubDate}</span
        >
      </div>
      <div class="py-5"></div>
      <div
        class="container mx-auto prose prose-p:text-white prose-p:text-xl prose-h2:text-white prose-h2:text-2xl prose-h2:font-bold prose-h2:md:text-3xl
        prose-em:text-sm prose-em:text-purple-500 prose-a:font-medium prose-a:text-purple-500 prose-a:underline prose-a:underline-offset-4 prose-a:tracking-wide"
      >
        <slot />
      </div>
    </div>
  </main>
  <Footer />
</Layout>
